# Code demo 19/05/2021 Flagship

######

In [ ]:
pwd

- petit discours d'introduction

In [2]:
# Import des librairies

import os
import pandas as pd
import psycopg2
import csv
import reprlib
import numpy
import re
import json
import plotly.express as px
import plotly.graph_objects as go

######

-----------------------

### Création de la Base de données

In [25]:
"""
Connexion dans un premier temps à postgres
pour initialiser notre database collection
"""


# initialisation des variables  de connection
utilisateur = "postgres"

mot_passe = os.environ.get('pg_psw')

base_de_donnees = "postgres"



try:
    
    # création de l'objet conn

    conn = psycopg2.connect(dbname= base_de_donnees, user=utilisateur, password=mot_passe, host="localhost", port= 5432)

    conn.set_session(autocommit=True)   # on force

    # initialisation du cursor

    cursor = conn.cursor()

    # cursor.execute permet d'exécuter une commande 'sql'

    cursor.execute("CREATE DATABASE collection6")

    print("La DataBase à été créée avec succès !")

        
except psycopg2.Error as e:
    
    print("Problème lors de la connection à la base de donnée")

    print(e)

   
    
finally:
        
    # ferme le curseur et devient inutilisable

    cursor.close

    # ferme la connexion à database

    conn.close

La DataBase à été créée avec succès !

######

In [82]:
# Cellule pour nos fonctions de connection

# Fonction qui va nous permettre de créer une Base de données.
def ouvrir_connection(base_de_donnee, utilisateur, mot_passe, host='localhost', port=5432):
    
    try:
        # création de l'objet conn
        conn = psycopg2.connect(dbname= base_de_donnee, user=utilisateur, password = mot_passe, host="localhost", port= 5432)

        # on force la sauvegarde
        conn.set_session(autocommit=True)   
        
        # initialisation du cursor
        cursor = conn.cursor()
        
        # exécution de la requête sql de création de la base de donnée
        #cursor.execute("CREATE DATABASE IF NOT EXISTS movie")

    # gestion des erreurs    
    except psycopg2.Error as e:
        print("Problème lors de la connection à la base de donnée")
        print(e)
        return None
    # dans tous les cas on va clôturer la session
    finally:
        cursor.close
        conn.close
    return conn
   
    # fonction pour supprimer une table
def supprimer_table(conn, sql_supprimer_table, table):
    try:
        cursor = conn.cursor()
        cursor.execute(sql_supprimer_table)
        conn.commit()
    except psycopg2.Error as e:
        print("Erreur lors de la suppression de la table")
        print(e)
        return
    cursor.close()
    print("La table a été supprimée avec succès")

# fonction pour créer une table    
def creer_table(conn, sql_creer_table):
    try:
        cursor = conn.cursor()
        cursor.execute(sql_creer_table)
        conn.commit()
    except psycopg2.Error as e:
        print("Erreur lors de la création de la table")
        print(e)
        return
    cursor.close()
    print("La table a été crée avec succès")

# fonction de lecture de la table    
def lire_table(conn, sql_lire_donnee):
    try:
        cursor = conn.cursor()
        cursor.execute(sql_lire_donnee)
        conn.commit()
    except psycopg2.Error as e:
        print("Erreur lors de la lecture des données")
        print(e)
        return None
    
    print("Les données ont été lues avec succès")
    
    data = []
    for row in cursor:
        data.append(row)

    cursor.close()
    
    return data

In [3]:
"""cellule qui content différentes requêtes sql
"""

# requète création table d'origine
sql_creer_table1 = """CREATE TABLE IF NOT EXISTS Origine(
   code_Origine SERIAL,
   nom_origine_fr VARCHAR(100),
   nom_origine_en VARCHAR(100),
   PRIMARY KEY(Code_Origine)
);
"""
# requète création table producteur
sql_creer_table2 = """CREATE TABLE IF NOT EXISTS Producteur(
   code_producteur SERIAL,
   nom_producteur VARCHAR(100),
   code_Origine INT,
   PRIMARY KEY(Code_producteur),
   FOREIGN KEY(Code_Origine) REFERENCES Origine(Code_Origine)
);
"""
# requète création table produit
sql_creer_table3 = """CREATE TABLE IF NOT EXISTS Produit(
   code_produit SERIAL,
   nom_produit VARCHAR(250),
   volume DECIMAL(15,2),
   degre DECIMAL(15,2),
   type_rhum VARCHAR(50),
   code_producteur INT,
   PRIMARY KEY(code_produit),
   FOREIGN KEY(code_producteur) REFERENCES Producteur(code_producteur)
);
"""
sql_creer_table4 = """CREATE TABLE IF NOT EXISTS Utilisateur(
   code_utilisateur SERIAL,
   nom VARCHAR(100),
   surnom VARCHAR(100),
   email VARCHAR(150),
   PRIMARY KEY(code_utilisateur)
);
"""
sql_creer_table5 = """CREATE TABLE IF NOT EXISTS Collection(
   Code_collection SERIAL,
   nom VARCHAR(250),
   description VARCHAR(500),
   code_utilisateur INT,
   PRIMARY KEY(Code_collection),
   UNIQUE(code_utilisateur),
   FOREIGN KEY(code_utilisateur) REFERENCES Utilisateur(code_utilisateur)
);
"""

sql_creer_table6 = """CREATE TABLE IF NOT EXISTS Compose(
   Code_produit INT,
   Code_collection INT,
   description VARCHAR(250),
   PRIMARY KEY(Code_produit, Code_collection),
   FOREIGN KEY(Code_produit) REFERENCES Produit(Code_produit),
   FOREIGN KEY(Code_collection) REFERENCES Collection(Code_collection)
);
"""

sql_creer_table7 = """CREATE TABLE IF NOT EXISTS role(
   code_role INT,
   nom VARCHAR(50),
   PRIMARY KEY(code_role)
);
"""

sql_creer_table8 = """CREATE TABLE IF NOT EXISTS Droit(
   code_droit INT,
   permission VARCHAR(50),
   PRIMARY KEY(code_droit)
);
"""

sql_creer_table9 = """CREATE TABLE IF NOT EXISTS apiebay(
   code_api SERIAL,
   itemid INT,
   titre VARCHAR(250),
   prix FLOAT,
   devise VARCHAR(50),
   date_debut DATE,
   date_fin DATE,
   date_enregistrement DATE,
   galleryURL TEXT
);
"""
# requète lecture des données
sql_lire_donnee = """
    SELECT *
    FROM Produit
    LIMIT 10;
"""

sql_supprimer_table = """
    DROP TABLE IF EXISTS {};
"""

In [84]:
# initialisation des variables pour me connecter à ma bdd postgres

base_de_donnee = "collection6"

utilisateur = "postgres"

mot_passe = os.environ.get('pg_psw')

In [85]:
# initialisation de ma connection
conn = ouvrir_connection(base_de_donnee, utilisateur, mot_passe)

In [2]:
# création table origine
creer_table(conn, sql_creer_table1)

NameError: name 'creer_table' is not defined

In [86]:
# suppression de la table
supprimer_table(conn, sql_supprimer_table, 'origine')

La table a été supprimée avec succès

In [ ]:
# création table producteur
creer_table(conn, sql_creer_table2)

In [ ]:
# création table produit
creer_table(conn, sql_creer_table3)

In [ ]:
# création table utilisateur
creer_table(conn, sql_creer_table4)

In [ ]:
# création table collection
creer_table(conn, sql_creer_table5)

In [ ]:
# création table compose
creer_table(conn, sql_creer_table6)

In [ ]:
# création table role
creer_table(conn, sql_creer_table7)

In [ ]:
# création table droit
creer_table(conn, sql_creer_table8)

In [ ]:
# création table apiebay
creer_table(conn, sql_creer_table9)

######

--------------------------

### Nettoyage des données

######

- nettoyage fichier excel

In [87]:
excel_file = 'INVENTAIRE_A.xlsx'
inventaire = pd.read_excel(excel_file, skiprows=2)
del inventaire['Unnamed: 5']
inventaire.columns = ['nom', 'volume', 'degre', 'nombre', 'prix', 'producteur']
del inventaire['prix']
del inventaire['nombre']
index_with_nan = inventaire.index[inventaire.isnull().any(axis=1)]
inventaire.drop(index_with_nan,0, inplace=True)
inventaire.drop(101,0,inplace=True)
inventaire.drop(100,0,inplace=True)
inventaire.drop(102,0,inplace=True)
inventaire

                           nom  volume  degre   producteur
1                       C12 70    70.0   50.0          HSE
2                       C16 70    70.0   50.0          HSE
3                      C16 100   100.0   50.0          HSE
4               PARCELLAIRE 70    70.0   55.0          HSE
5              PARCELLAIRE 100   100.0   55.0          HSE
..                         ...     ...    ...          ...
93    DOMINUS 10 years-01/2018    70.0   56.0   FOURSQUARE
95  BOLOGNE BLACK CANE N°19658    70.0   50.0      bologne
96  BOLOGNE BLACK CANE N°19742    70.0   50.0      bologne
97      BARBANCOURT VSOP 4 ans    70.0   40.0  barbancourt
98            MONTEBELLO 8 ANS    70.0   42.0   montebello

[86 rows x 4 columns]

In [88]:
inventaire.info

<bound method DataFrame.info of                            nom  volume  degre   producteur
1                       C12 70    70.0   50.0          HSE
2                       C16 70    70.0   50.0          HSE
3                      C16 100   100.0   50.0          HSE
4               PARCELLAIRE 70    70.0   55.0          HSE
5              PARCELLAIRE 100   100.0   55.0          HSE
..                         ...     ...    ...          ...
93    DOMINUS 10 years-01/2018    70.0   56.0   FOURSQUARE
95  BOLOGNE BLACK CANE N°19658    70.0   50.0      bologne
96  BOLOGNE BLACK CANE N°19742    70.0   50.0      bologne
97      BARBANCOURT VSOP 4 ans    70.0   40.0  barbancourt
98            MONTEBELLO 8 ANS    70.0   42.0   montebello

[86 rows x 4 columns]>

In [89]:
inventaire.shape

(86, 4)

In [90]:
liste = []
nom = inventaire['nom'].tolist()
for e in nom:
    y = str(e).split('-', 1)
    liste.append(y[0])
# print(liste)
inventaire['nom']= liste
inventaire.head(15)

                   nom  volume  degre producteur
1               C12 70    70.0   50.0        HSE
2               C16 70    70.0   50.0        HSE
3              C16 100   100.0   50.0        HSE
4       PARCELLAIRE 70    70.0   55.0        HSE
5      PARCELLAIRE 100   100.0   55.0        HSE
6     PARCELLAIRE 150L   150.0   55.0        HSE
7          RAGTIME ESB    70.0   40.0        HSE
8       Coffret XO ENO    70.0   43.0        HSE
9      Small Cask 2007    50.0   46.0        HSE
10     Small Cask 2007    50.0   46.0        HSE
11     Small Cask 2007    50.0   46.0        HSE
12       Highland 2005    50.0   44.0        HSE
13       Highland 2006    50.0   44.0        HSE
14  Pedro Ximenez 2007    50.0   46.0        HSE
15  Fino&Olorosso 2004    50.0   45.0        HSE

In [91]:
inventaire['producteur'] = inventaire['producteur'].str.capitalize()
inventaire['type'] = 'Vieux'
inventaire['origine'] = 'Martinique'
inventaire

                           nom  volume  degre   producteur   type     origine
1                       C12 70    70.0   50.0          Hse  Vieux  Martinique
2                       C16 70    70.0   50.0          Hse  Vieux  Martinique
3                      C16 100   100.0   50.0          Hse  Vieux  Martinique
4               PARCELLAIRE 70    70.0   55.0          Hse  Vieux  Martinique
5              PARCELLAIRE 100   100.0   55.0          Hse  Vieux  Martinique
..                         ...     ...    ...          ...    ...         ...
93            DOMINUS 10 years    70.0   56.0   Foursquare  Vieux  Martinique
95  BOLOGNE BLACK CANE N°19658    70.0   50.0      Bologne  Vieux  Martinique
96  BOLOGNE BLACK CANE N°19742    70.0   50.0      Bologne  Vieux  Martinique
97      BARBANCOURT VSOP 4 ans    70.0   40.0  Barbancourt  Vieux  Martinique
98            MONTEBELLO 8 ANS    70.0   42.0   Montebello  Vieux  Martinique

[86 rows x 6 columns]

In [92]:
inventaire.to_excel(r'INVENTAIRE_B.xlsx', index = False, header=True)

- Optimisation nettoyage fichier excel INVENTAIRE_C: anonymisation des données + ajout type

In [93]:
inventaire = pd.read_excel('INVENTAIRE_C.xlsx')
inventaire = inventaire.drop_duplicates()
inventaire = inventaire.replace(to_replace='Jm', value='Rhum JM')
inventaire.columns = ['nom', 'volume', 'degre', 'nombre', 'producteur', 'type', 'origine']
del inventaire['nombre']
inventaire.head(45)

,nom,volume,degre,producteur,type,origine
0,C12 70,70,50.0,Hse,Blanc,Martinique
1,C16 70,70,50.0,Hse,Blanc,Martinique
2,C16 100,100,50.0,Hse,Blanc,Martinique
3,PARCELLAIRE 70,70,55.0,Hse,Blanc,Martinique
4,PARCELLAIRE 100,100,55.0,Hse,Blanc,Martinique
5,PARCELLAIRE 150L,150,55.0,Hse,Blanc,Martinique
6,RAGTIME ESB,70,40.0,Hse,Ambre,Martinique
7,Coffret XO ENO,70,43.0,Hse,Vieux,Martinique
8,Small Cask 2007,50,46.0,Hse,Vieux,Martinique
11,Highland 2005,50,44.0,Hse,Vieux,Martinique
12,Highland 2006,50,44.0,Hse,Vieux,Martinique
13,Pedro Ximenez 2007,50,46.0,Hse,Vieux,Martinique
14,Fino&Olorosso 2004,50,45.0,Hse,Vieux,Martinique
17,Fino&Olorosso 2007,50,45.0,Hse,Vieux,Martinique
19,Marquis de Terme 2005,50,47.0,Hse,Vieux,Martinique
20,Marquis de Terme 2006,50,47.0,Hse,Vieux,Martinique
22,ISLAY 2005,50,44.0,Hse,Vieux,Martinique
23,ISLAY 2007,50,44.0,Hse,Vieux,Martinique
25,SAUTERNE 2005,50,41.0,Hse,Vieux,Martinique
27,2003 single cask,50,47.8,Hse,Vieux,Martinique
31,A la Francaise,150,47.0,Hse,Vieux,Martinique
32,BDF FR 2007,70,50.8,Hse,Vieux,Martinique
33,BDF US 2007,70,51.2,Hse,Vieux,Martinique
34,SKOURAS 2007,150,51.2,Hse,Vieux,Martinique
36,MATTA dédicacé,70,40.0,Hse,Ambre,Martinique
37,ESB ancien packaging,70,42.0,Hse,Ambre,Martinique
38,Millesime 2003,70,44.8,Rhum JM,Vieux,Martinique
39,Millesime 2004,70,44.3,Rhum JM,Vieux,Martinique
40,Millesime 2005,70,43.6,Rhum JM,Vieux,Martinique
41,XO,70,45.0,Rhum JM,Vieux,Martinique
42,VSOP,70,43.0,Rhum JM,Vieux,Martinique
43,SCHRUB,70,35.0,Rhum JM,Vieux,Martinique
44,XO 1845,70,42.0,Rhum JM,Vieux,Martinique
45,Finish Calvados série n°2 2006,50,41.4,Rhum JM,Vieux,Martinique
46,BEL AIR 2016,70,53.0,La favorite,Vieux,Martinique
47,BEL AIR 2017,70,53.0,La favorite,Vieux,Martinique
48,BEL AIR 2018,70,53.0,La favorite,Vieux,Martinique
49,LA CREOLE,70,56.0,La favorite,Blanc,Martinique
50,2008 fût n°13,70,44.9,La favorite,Vieux,Martinique
52,2009 fût cognac,70,48.0,La favorite,Vieux,Martinique
53,Millesime 2010,70,52.8,La favorite,Vieux,Martinique
54,coffret dégustation,15,43.0,La favorite,Vieux,Martinique
55,XO PRESTIGE coffret bois,70,45.0,Depaz,Vieux,Martinique
56,2002 hors d'age,70,45.0,Depaz,Vieux,Martinique
57,2003 single cask fût français n°1005,70,45.0,Depaz,Vieux,Martinique

In [94]:
inventaire[['volume']].astype(int)
inventaire[['degre']].astype(float)

    degre
0    50.0
1    50.0
2    50.0
3    55.0
4    55.0
..    ...
80   59.0
81   56.0
82   50.0
84   40.0
85   42.0

[72 rows x 1 columns]

In [95]:
inventaire.to_excel(r'INVENTAIRE_z.xlsx', index = False, header=True)

In [96]:
inventaire.to_excel(r'INVENTAIRE_FINAL.xlsx', index = False, header=True)

######

- nettoyage fichier rhum_data.csv

In [97]:
csv_file = 'rum_data_brut.csv'
rum_data = pd.read_csv(csv_file)

rum_data.head(2)

,name,company,country,price,ratings,score,type,rum_url,img_url,br_score
0,10000 Drops Silver,Unknown,United States,0,0,0.0,Light,/brands/10972-10000-drops-silver,https://d1jtwiy8m5zi8a.cloudfront.net/assets/d...,4.775363
1,10000 Drops Spiced,Unknown,United States,0,1,4.0,Spiced,/brands/7354-10000-drops-spiced,https://d19vk5i0q1xlsm.cloudfront.net/uploads/...,4.711955

In [98]:
# inventaire des sociétés inconnus
liste_unknown = rum_data['company'] == 'Unknown'

In [101]:
# création de la dataframe pour voir le nombre d'inconnu
filtre_df = rum_data[liste_unknown]
print(filtre_df.head(5))

                        name  company        country  price  ratings  score  \
0         10000 Drops Silver  Unknown  United States      0        0    0.0
1         10000 Drops Spiced  Unknown  United States      0        1    4.0
2            1000 Hills Gold  Unknown         Rwanda      0        1    4.0
3  100 Fuegos Buckeye 2-Year  Unknown        Ecuador      0        0    0.0
4          100 Fuegos 8-Year  Unknown        Ecuador      0        0    0.0

     type                                 rum_url  \
0   Light        /brands/10972-10000-drops-silver
1  Spiced         /brands/7354-10000-drops-spiced
2   Light            /brands/5285-1000-hills-gold
3    Gold  /brands/9037-100-fuegos-buckeye-2-year
4    Aged          /brands/1834-100-fuegos-8-year

                                             img_url  br_score
0  https://d1jtwiy8m5zi8a.cloudfront.net/assets/d...  4.775363
1  https://d19vk5i0q1xlsm.cloudfront.net/uploads/...  4.711955
2  https://d19vk5i0q1xlsm.cloudfront.net/uploads/...  4.711955
3  https://d1jtwiy8m5zi8a.cloudfront.net/assets/d...  4.775363
4  https://d1jtwiy8m5zi8a.cloudfront.net/assets/d...  4.775363

In [102]:
filtre_df.shape

(2431, 10)

In [103]:
# for x in liste_rhum.itertuples():
#     print(x.company) # Imprime la valeur courante de la colonne A de df

In [ ]:
# on change les valeurs inconnus par le nom de la bouteille (choix)
rum_data.loc[rum_data['company'] == 'Unknown', 'company'] = rum_data['name']

In [ ]:
# enregistrement des changements dans un nouveau csv
rum_data.to_csv('rum_data_new2.csv', index = False, header=True)

- remplacement des caractères spéciaux

In [ ]:
csv_file = 'rum_data_new2.csv'
rum_data = pd.read_csv(csv_file)

rum_data.head(2)

In [ ]:
rum_data.drop(columns=['price', 'ratings', 'score', 'rum_url', 'br_score', 'img_url'], inplace=True)
rum_data.columns= ['nom', 'producteur', 'origine', 'type']

rum_data.head(2)

In [ ]:
# df.replace([old_value], new_value)
# création liste caractère spéciaux et leurs valeurs de remplacement

liste_car = ['Ã¡', 'Ã»', 'Ã¢', 'Ã©', 'â€™', 'Â°', 'Ã¨', 'Ã³', 'Ã±', '\'', 'Ã£', 'Ã§','Ã³', 'Ã¼', 'Â´', 
             'Å“', 'Ã‰', 'Ã¶', 'Ã‘', 'Ã¤', '%', 'Ã£oâ€�', 'Ã‰', 'Ã¸']
liste_remp = ['a', 'u', 'a', 'e', '', '°', 'e', 'o', 'n', ' ', 'a', 'c', 'o', 'u', ' ', 'oe', 'E', 'o', 'N', 'a', '°', 'ao', 'E', 'o']  
# création du dictionnaire avec une compréhension de dictionnaire
dico = {k: v for k, v in zip(liste_car, liste_remp)}

In [ ]:
# repmlacement des caractères spéciaux dans tout la dataframe
rum_data.replace(liste_car, liste_remp, regex=True,inplace=True)
rum_data.head(93)

In [ ]:
# il faut que regex=True 
# remplacement des valeurs dans la colone name
# rum_data.replace({'name': dico}, regex=True,inplace=True)

In [ ]:
# remplacement des valeurs dans la colone company
# rum_data.replace({'company': dico}, regex=True,inplace=True)

In [ ]:
# # remplacement des valeurs dans la colone country
# rum_data.replace({'country': dico}, regex=True,inplace=True)

In [ ]:
dico_type = {}
liste_type = ['Aged','Gold', 'Light', 'Flavored', 'Dark', 'USA' ]
liste_new_type= ['Vieux', 'Ambre', 'Blanc', 'Spiced', 'Vieux', 'United States']
dico_type = {k: v for k, v in zip(liste_type, liste_new_type)}

In [ ]:
# remplacement des valeurs dans la colone country
rum_data.replace({'type': dico_type}, regex=True,inplace=True)
rum_data['origine'].replace('USA', 'United States')

In [ ]:
# enregistrement des changements dans un nouveau csv
rum_data.to_csv('rum_data_final.csv', index = False, header=True)

######

- nettoyage fichier json

In [ ]:
from collections import defaultdict
import pandas as pd
import re
import json

origines = []
degres = []
volumes = []
noms = []
producteurs = []
marques = []
liste_json = []

with open('test.json', 'r') as f:
    data = json.load(f)

for rum in data:
    for k, v in rum.items():
        v = v.replace(' cl', 'cl')
        liste_json.append(v)
        
for element in liste_json:
    
    # Origines
    pays = element.split()[-1]
    origines.append(pays)
    if pays:
        element = element.replace(pays, "")
        
    # Producteurs  
    marque_pattern = re.compile(r"[a-zA-Zèé]+[&? [a-zA-Zèé0-9']+ Rhum|[a-zA-Zèé']+[ ]? Rhum|[a-zA-Zèé']+ [Liqueur|Punch|Coffret]+")
    marque = marque_pattern.findall(element)
#     marque = marque.replace("Rhum", "")
    if marque:
        marques.append(marque[0])
    else:
        marques.append("XXXXXXXX")

    # Degres    
    degre_pattern = re.compile(r'\d\d°|\d\d,\d\d?°|\d\d\.\d\d?°')
    degre = degre_pattern.findall(element)
    if degre:
        element = element.replace(degre[0], "")
        degres.append(degre[0])
    else:
        degres.append("")
        
    # Volumes
    volume_pattern = re.compile(r'\d?\dcl|\dL')
    volume = volume_pattern.findall(element)
    if volume:
        element = element.replace(volume[0], "")
        volumes.append(volume[0])
    else:
        volumes.append('')
        
    # Noms rhums    
    noms.append(element) 

# nettoyage Producteurs   
for producteur in marques:
    producteur = re.sub('Rhum|Liqueur|Punch|Coffret', '', producteur)
    producteurs.append(producteur)

In [ ]:
import pandas as pd

df1 = pd.DataFrame()
df1['nom'] = noms
df1['producteur'] = producteurs
df1['origine'] = origines
df1['volume'] = volumes
df1['degre'] = degres
df1.shape

In [ ]:
df1.to_csv('test_json_1.csv', index = False, header=True)

In [ ]:
df1 = pd.read_csv('test_json_1.csv')

In [ ]:
df1['producteur'] = df1['producteur'].replace(['Maison L', 'Maison La Mauny'], 'La Mauny') 
df1['origine'] = df1['origine'].replace('70cl', 'Guadeloupe') 
df1.loc[df1['producteur'] == 'Maison La Mauny', 'producteur'] = 'La Mauny'
df1.head(241)

In [ ]:
df1.to_csv('test_json_2.csv', index = False, header=True)

######

In [ ]:
df2 = pd.read_csv('test_json_2.csv')
df2.head

In [ ]:
dico = {}
liste_car = ['XXXXXXXX', 'JM', 'depaz Doré', 'Maison La Mauny', 'Maison L', '\'', 
             'de Cori', 'Longueteau  Vieux Cuvée Confrérie du','Bielle  Vieux Millésime 2009 Cuvée Confrérie du', 
             'Discovery', 'Ambré Brun', 'Crème de', 'Favorite  Vieux coeur de', 'VSOP', '4 tubes de', 'Blanc le', 
             'Latitudes', 'pour rhu', 'James C', 'Depaz Doré', 'Blanc Ice', 'Favorite  Vieux Coeur de',
             'Favorite', 'Bally','é','è']
liste_remp = ['Bumbu', 'Rhum JM', 'Depaz', 'La Mauny', 'La Mauny', ' ', 
              'Saveur de Coriandre', 'Confrérie du Rhum','Confrérie du Rhum', 'Rhum', '', 
              '', 'Favorite', '', '', '', 'Grand Fond Gallion', 'Quai Sud', 'Saint James', 'Depaz', '',
              'La Favorite', 'La Favorite', 'J. Bally', '','e', 'e']
# création du dictionnaire avec une compréhension de dictionnaire
dico = {k: v for k, v in zip(liste_car, liste_remp)}

In [ ]:
dico2 = {}
liste_car = ['Galante', '46,2°', 'Trinidad', '20cl', 'cocktail', 'ï']
liste_remp = ['Marie Galante', 'Ecosse', 'Trinite et Tobago', 'Martinique', 'France', 'i']
# création du dictionnaire avec une compréhension de dictionnaire
dico2 = {k: v for k, v in zip(liste_car, liste_remp)}

In [104]:
dico3 = {}
liste_car = ['cl', '1L', '3L', '5L', '°', ',']
liste_remp = ['', 100, 300, 500, '', '.']
# création du dictionnaire avec une compréhension de dictionnaire
dico3 = {k: v for k, v in zip(liste_car, liste_remp)}

In [ ]:
# il faut que regex=True 
df2.replace({'producteur': dico}, regex=True,inplace=True)
df2.replace({'origine': dico2}, regex=True,inplace=True)
df2.replace({'nom':dico}, regex=True, inplace=True)
df2.replace({'volume':dico3}, regex=True, inplace=True)
df2.replace({'degre':dico3}, regex=True, inplace=True)

In [ ]:
df2.to_csv('test_json_3.csv', index = False, header=True)

######

In [9]:
df4 = pd.read_csv('test_json_3.csv')


liste_producteur = df4['producteur'].tolist()

liste_sans_espace=[]
for e in liste_producteur:
#     print(e)
    espace = e.strip()
    liste_sans_espace.append(espace)
liste_sans_espace[0:4]

df5 = pd.Series( (v for v in liste_sans_espace) )
df5

df4['producteur'] = df5

df4.head()

df4.to_csv('test_json_4.csv', index = False, header=True)

######

In [ ]:
df2.dtypes

In [ ]:
df2['volume'].astype(float)
df2['degre'].astype(float)

In [ ]:
db =df2[df2['nom'].str.contains('Blanc')]
db['type'] = 'Blanc'

db.head(2)

In [ ]:
dv =df2[df2['nom'].str.contains('Vieux')]
dv['type'] = 'Vieux'
dv.head(4)

In [ ]:
dA =df2[df2['nom'].str.contains('Ambre')]
dA['type'] = 'Ambre'
dA.head(2)

In [ ]:
de =df2[df2['nom'].str.contains('Liqueur |Creme | Punch | Epice | Arrange | arrange | Bumbu')]
de['type'] = 'Spiced'
de.head()

In [ ]:
dc =df2[df2['nom'].str.contains('Coffret |coffret')]
dc['type'] = 'Coffret'
dc.head()

In [ ]:
frames =[dv, db, dA, de, dc]

df3 = pd.concat(frames)
df3

In [ ]:
df3.to_csv('test_json_final.csv', index = False, header=True)

######

- nettoyage wikirum

In [ ]:
csv_file = 'rhumfullinfo_wikirum.csv'
wikirum = pd.read_csv(csv_file)

wikirum.head()

wikirum.isnull().sum()
index_with_nan = wikirum.index[wikirum.isnull().any(axis=1)]
wikirum.drop(index_with_nan,0, inplace=True)

wikirum.columns = ['nom', 'producteur', 'origine', 'volume', 'degre']
wikirum['producteur'] = wikirum['producteur'].str.replace('*','', regex=True)
wikirum['nom'] = wikirum['nom'].str.replace('\'','', regex=True)
wikirum['producteur'] = wikirum['producteur'].str.replace('\'','', regex=True)
wikirum['degre'] = wikirum['degre'].astype(float)
wikirum['volume'] = wikirum['volume'].astype(float)
wikirum['volume'] = wikirum['volume'] / 10

wikirum.to_csv('wikirum_1.csv', index = False, header=True)

######

In [ ]:
csv_file = 'wikirum_1.csv'
wikirum_1 = pd.read_csv(csv_file)

wikirum_1.head()

liste_car = ['\'', 'é','è']
liste_remp = [ ' ', 'e', 'e']

# repmlacement des caractères spéciaux dans tout la dataframe
wikirum_1.replace(liste_car, liste_remp, regex=True,inplace=True)
wikirum_1.head(93)

wikirum_1.to_csv('wikirum_2.csv', index = False, header=True)

######

In [ ]:
csv_file = 'wikirum_2.csv'
wikirum_2 = pd.read_csv(csv_file)

wikirum_2.head()

wikirum_2['type'] = 'Vieux'

wikirum_2['origine']= wikirum_2['origine'].replace('USA (Californie)', 'United States')
wikirum_2['origine']= wikirum_2['origine'].replace('USA (Kentucky)', 'United States')
# ,regex=True, inplace=True
# to_replace='Jm', value='Rhum JM'
wikirum_2.head(866)

wikirum_2.to_csv('wikirum_3.csv', index = False, header=True)

- dernier changement type directement: wikirum_final.csv

- Données API EBAY

In [ ]:
from ebaysdk.finding import Connection as Finding
from ebaysdk.exception import ConnectionError
import os
titres = []
itemIds= []
apid= os.environ.get('api_cle')

try:
    api = Finding(appid=apid, config_file='ebay.yaml', siteid="EBAY-FR")
    response = api.execute('findItemsAdvanced', {'keywords': 'rhum Saint James'})
    suivi = response.dict()
#     print(suivi)

    for e in suivi.values():
        resultat = suivi['searchResult']['item']
        for y in range(len(resultat)):
            categoryId = resultat[y]['primaryCategory']['categoryId']
            if categoryId == '258508':
                print(resultat[y]['itemId'])
                print(resultat[y]['title'])
                print(resultat[y]['primaryCategory']['categoryId'])
                print(resultat[y]['primaryCategory']['categoryName'])
                print(resultat[y]['location'])
                print(resultat[y]['country'])
                print(resultat[y]['sellingStatus']['currentPrice']['_currencyId'])
                print(resultat[y]['sellingStatus']['currentPrice']['value'])
                print(resultat[y]['galleryURL'])
       
    
except ConnectionError as e:
    print(e)
    print(e.response.dict())

######

-----------------

### Préparation des données

- traduction des termes??

In [ ]:
csv_file = 'wikirum_final.csv'
wikirum_final = pd.read_csv(csv_file)
csv_file1 = 'rum_data_final.csv'
rum_data_final = pd.read_csv(csv_file1)
csv_file2 = 'test_json_final.csv'
test_json_final = pd.read_csv(csv_file2)


global_final = pd.concat([wikirum_final, rum_data_final, test_json_final],  ignore_index=True)
global_final

In [ ]:
global_final.to_csv('global_final.csv', index = False, header=True)

-----------------

### Insertion des données

- origine

In [ ]:
# Prod
# liste des origines pour insertions

import csv
# je crée une liste regroupant ma liste de pays
liste = []
with open('global_final.csv', newline='', encoding='utf-8') as csvfile:
    spamreader = csv.reader(csvfile, delimiter=',')
    for row in spamreader:
        # gestion des doublons
        if row[2] not in liste:
            liste.append(row[2])
liste = liste[1:]
# print(liste)
# print(len(liste))

In [ ]:
# connexion à la bdd collection
conn = psycopg2.connect(
        user = "postgres",
        password = os.environ.get("pg_psw"),
        host = "localhost",
        port = "5432",
        database = "collection5"
)
cur = conn.cursor()

for pays in liste:
    cur.execute("SELECT origine.nom FROM origine WHERE origine.nom = (%s) ", (pays,))
    verif = cur.fetchone()
    if not verif:
        cur.execute("INSERT INTO origine (nom) VALUES(%s)", (pays,))

conn.commit()
print('insertion terminée')
conn.close()

######

- insertion producteur

In [ ]:
# prod
# je crée une liste regroupant les pays et les producteurs
liste_co = []
liste_producteur = []
liste_final = []
with open('global_final.csv', newline='', encoding='utf-8') as csvfile:
    spamreader = csv.reader(csvfile, delimiter=',')
    for row in spamreader:
        if row[1:3] not in liste_co:
            liste_co.append((row[1:3]))
liste_co = liste_co[1:]
# for producteur in liste_co:
#     producteur = producteur[0]
#     liste_producteur.append(producteur)

# for espace in liste_producteur:
#     espace = espace.strip()
#     if espace not in liste_final:
#         liste_final.append(espace)
# print(len(liste_final))

In [ ]:
dictionnaire = {}
for row in liste_final:
    for row2 in liste_co:
        if row == row2[0]:
            dictionnaire[row] = row2[1]

In [ ]:
# prod
# fonction d'insertion dans la table producteur
conn = psycopg2.connect(
        user = "postgres",
        password = os.environ.get("pg_psw"),
        host = "localhost",
        port = "5432",
        database = "collection5"
)
cur = conn.cursor()
for producteur, pays in liste_co:
#     dictionnaire.items()
#     print(producteur)
#     print(pays)
    cur.execute(f"""SELECT origine.code_origine 
        FROM origine
        WHERE origine.nom = '{pays}';
        """)
    
    origine = cur.fetchone()[0]
#     print(origine)
    #pays = str(pro[0])
#     print(pays)

    cur.execute(f"INSERT INTO producteur (nom_producteur, code_origine) VALUES ('{producteur}', '{origine}')")
    
cur.close()
conn.commit()
print('insertion terminée')
conn.close()

######

- insertion produit

In [3]:
# insertion fichier excel
csv_file = 'global_final.csv'
inventaire = pd.read_csv(csv_file)
inventaire.head()

,nom,producteur,origine,volume,degre,type
0,Cuba 5 Years,1731 Fine & Rare,Pays-Bas,70.0,46.0,Vieux
1,Cuba Dominican Republic (Spanish Caribbean XO),1731 Fine & Rare,Pays-Bas,70.0,46.0,Vieux
2,Guatemala Panama Belize (Central America XO),1731 Fine & Rare,Pays-Bas,70.0,46.0,Vieux
3,Panama 6 Years,1731 Fine & Rare,Pays-Bas,70.0,46.0,Vieux
4,Trinidad Barbados Jamaica (British West Indies...,1731 Fine & Rare,Pays-Bas,70.0,46.0,Vieux

In [4]:
inventaire_produit =  inventaire[['nom', 'volume', 'degre', 'producteur', 'type']]

In [5]:
liste_inventaire = [list(x) for x in inventaire_produit.to_numpy()]
print(liste_inventaire[0:10])

[['Cuba 5 Years', 70.0, 46.0, '1731 Fine & Rare', 'Vieux'], ['Cuba Dominican Republic (Spanish Caribbean XO)', 70.0, 46.0, '1731 Fine & Rare', 'Vieux'], ['Guatemala Panama Belize (Central America XO)', 70.0, 46.0, '1731 Fine & Rare', 'Vieux'], ['Panama 6 Years', 70.0, 46.0, '1731 Fine & Rare', 'Vieux'], ['Trinidad Barbados Jamaica (British West Indies XO)', 70.0, 46.0, '1731 Fine & Rare', 'Vieux'], ['Caroni 12 Ans', 70.0, 46.0, 'Blackadder', 'Vieux'], ['Caroni 18 Ans', 70.0, 63.1, 'Blackadder', 'Vieux'], ['Fiji 2001-2012 - 11 Years', 70.0, 63.9, 'Blackadder', 'Vieux'], ['Guadeloupe Belvedere 1998-2015- 17 Years', 70.0, 57.5, 'Blackadder', 'Vieux'], ['Guadeloupe Belvedere 1998-2017- 19 Years', 70.0, 56.6, 'Blackadder', 'Vieux']]

In [6]:
nom = liste_inventaire[0][0]
volume = liste_inventaire[0][1]
degre = liste_inventaire[0][2]
producteur = liste_inventaire[0][3]
typeg = liste_inventaire[0][4]


# print(nom)
# print(type(volume))
# print(degre)
# print(producteur)
# print(typeg)
# print(img_url)

In [7]:
# # prod
# # je crée une liste regroupant les pays et les producteurs
# liste_co = []
# with open('global_final.csv', newline='', encoding='utf-8') as csvfile:
#     spamreader = csv.reader(csvfile, delimiter=',')
#     for row in spamreader:
#         if row[1:] not in liste_co:
#             liste_co.append((row[1:]))
# liste_co = liste_co[1:]
# print(liste_co[1:10])

In [9]:
conn = psycopg2.connect(
        user = "postgres",
        password = os.environ.get("pg_psw"),
        host = "localhost",
        port = "5432",
        database = "collection5"
)
cur = conn.cursor()
for nom, volume, degre, producteur, typeg in liste_inventaire:
    
    volume = float(volume)
#     print(volume)
#     if volume > 0:
#         print(1)
#     else:
#         print(2)
    cur.execute(f"""SELECT producteur.code_producteur 
        FROM producteur
        WHERE producteur.nom_producteur = '{producteur}';
        """)
    
    code = cur.fetchone()[0]
    print(code) #NULLIF('$var','')
    if volume > 0 and degre > 0:
        cur.execute(f"INSERT INTO produit (nom_produit, volume, degre, type_rhum, code_producteur) VALUES ('{nom}', {volume}, {degre}, '{typeg}', {code})")
    elif volume < 0:
        cur.execute(f"INSERT INTO produit (nom_produit, degre, type_rhum, code_producteur) VALUES ('{nom}', {degre}, '{typeg}', {code})")
    elif degre < 0:
        cur.execute(f"INSERT INTO produit (nom_produit, volume, type_rhum, code_producteur) VALUES ('{nom}', {volume}, '{typeg}', {code})")

    else:
         cur.execute(f"INSERT INTO produit (nom_produit, type_rhum, code_producteur) VALUES ('{nom}', '{typeg}', {code})")
#         print(type(cur))   
cur.close()
conn.commit()
print('insertion produit terminée')
conn.close()

1
1
1
1
1
2
2
2
2
2
2
2
2
2
2
2
2
2
2
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
5
5
5

SyntaxError: ERREUR:  erreur de syntaxe sur ou près de « s »
LINE 3:         WHERE producteur.nom_producteur = 'Cadenhead's';
                                                             ^

######

-------------

### Exploitation des données

In [ ]:
import psycopg2
import os

conn = psycopg2.connect(
        user = "postgres",
        password = os.environ.get("pg_psw"),
        host = "localhost",
        port = "5432",
        database = "collection5"
)
cur = conn.cursor()
cur.execute("""SELECT origine.nom, count(produit.nom)
FROM origine
INNER JOIN producteur
ON origine.code_origine = producteur.code_origine 
INNER JOIN produit
ON producteur.code_producteur = produit.code_producteur
group by origine.nom
order by count(produit.nom) DESC
Limit 20
;
""")
requete = cur.fetchall()
print(requete[0:10])

In [ ]:
import pandas as pd

dataf = pd.DataFrame(requete)
dataf.columns = ['nom', 'compte']
dataf

In [ ]:
import matplotlib.pyplot as plt
dataf.plot(x="nom", y=["compte"])

In [ ]:
dataf.plot.bar(x="nom", y="compte")

In [ ]:
px.histogram(dataf, 
             x="nom", 
             y="compte", 
             color='nom'            
           )

In [ ]:
px.sunburst(dataf, path=["nom", "compte"], color="nom",
           hover_data=dataf.columns,
           values="compte")

In [ ]:
import psycopg2
import os

conn = psycopg2.connect(
        user = "postgres",
        password = os.environ.get("pg_psw"),
        host = "localhost",
        port = "5432",
        database = "collection5"
)
cur = conn.cursor()
cur.execute("""SELECT producteur.nom, origine.nom, count(produit.nom)
FROM producteur
INNER JOIN origine
ON producteur.code_origine = origine.code_origine 
INNER JOIN produit
ON producteur.code_producteur = produit.code_producteur
group by producteur.nom, origine.nom
order by count(produit.nom) DESC
Limit 10
;
""")
requete = cur.fetchall()
print(requete[0:10])

In [ ]:
dfproducteur = pd.DataFrame(requete)
dfproducteur.columns = ['producteur', 'origine', 'compte']
dfproducteur.head()

In [ ]:
px.histogram(dfproducteur, 
             x="producteur", 
             y="compte", 
             color='origine'
           )

In [ ]:
px.sunburst(dfproducteur, path=["origine", "producteur"], color="compte",
           hover_data=dfproducteur.columns,
           values="compte")

In [ ]:
fig = px.choropleth(dfproducteur, locations="origine",
                            color="origine",
                            locationmode='country names',
                            hover_name="producteur",
                            projection='natural earth',
                            title='Production',
                            color_continuous_scale=px.colors.sequential.Plasma)
fig