In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
excel_file = 'INVENTAIRE_A.xlsx'
inventaire = pd.read_excel(excel_file, skiprows=2)
inventaire.drop(103,0,inplace=True)

In [3]:
inventaire.drop(0,0,inplace=True)

In [4]:
inventaire

,Unnamed: 0,Unnamed: 1,DEGRE,NOMBRE,ACHAT,Unnamed: 5,Marque
1,C12 70,70.0,50.0,5.0,8.5,NaN,HSE
2,C16 70,70.0,50.0,1.0,11.0,NaN,HSE
3,C16 100,100.0,50.0,1.0,14.0,NaN,HSE
4,PARCELLAIRE 70,70.0,55.0,2.0,13.0,NaN,HSE
5,PARCELLAIRE 100,100.0,55.0,1.0,15.0,NaN,HSE
...,...,...,...,...,...,...,...
98,MONTEBELLO 8 ANS,70.0,42.0,1.0,28.0,NaN,montebello
99,DIVERS,NaN,NaN,NaN,NaN,NaN,NaN
100,kapoeira cachaça,70.0,38.0,1.0,25.0,NaN,kapoeira
101,Bombay Gin,70.0,40.0,1.0,15.0,NaN,bombay
102,Vodka Standart,100.0,40.0,1.0,24.0,cadeau,standart

In [7]:
del inventaire['Unnamed: 5']
inventaire.columns = ['NOM', 'VOLUME', 'DEGRE', 'NOMBRE', 'PRIX', 'MARQUE']

In [9]:
inventaire

                   NOM  VOLUME  DEGRE  NOMBRE  PRIX      MARQUE
1               C12 70    70.0   50.0     5.0   8.5         HSE
2               C16 70    70.0   50.0     1.0  11.0         HSE
3              C16 100   100.0   50.0     1.0  14.0         HSE
4       PARCELLAIRE 70    70.0   55.0     2.0  13.0         HSE
5      PARCELLAIRE 100   100.0   55.0     1.0  15.0         HSE
..                 ...     ...    ...     ...   ...         ...
98    MONTEBELLO 8 ANS    70.0   42.0     1.0  28.0  montebello
99              DIVERS     NaN    NaN     NaN   NaN         NaN
100  kapoeira  cachaça    70.0   38.0     1.0  25.0    kapoeira
101         Bombay Gin    70.0   40.0     1.0  15.0      bombay
102     Vodka Standart   100.0   40.0     1.0  24.0    standart

[102 rows x 6 columns]

In [8]:
inventaire.drop(index_with_nan,0, inplace=True)
inventaire

NameError: name 'index_with_nan' is not defined

In [ ]:
inventaire.drop(inventaire.index[inventaire.isnull().any(axis=1)],0, inplace=True)

In [10]:
inventaire.info

<bound method DataFrame.info of                    NOM  VOLUME  DEGRE  NOMBRE  PRIX      MARQUE
1               C12 70    70.0   50.0     5.0   8.5         HSE
2               C16 70    70.0   50.0     1.0  11.0         HSE
3              C16 100   100.0   50.0     1.0  14.0         HSE
4       PARCELLAIRE 70    70.0   55.0     2.0  13.0         HSE
5      PARCELLAIRE 100   100.0   55.0     1.0  15.0         HSE
..                 ...     ...    ...     ...   ...         ...
98    MONTEBELLO 8 ANS    70.0   42.0     1.0  28.0  montebello
99              DIVERS     NaN    NaN     NaN   NaN         NaN
100  kapoeira  cachaça    70.0   38.0     1.0  25.0    kapoeira
101         Bombay Gin    70.0   40.0     1.0  15.0      bombay
102     Vodka Standart   100.0   40.0     1.0  24.0    standart

[102 rows x 6 columns]>

In [11]:
inventaire.shape

(102, 6)

In [ ]:
inventaire.plot()

In [ ]:
inventaire.plot.pie(y='VOLUME', figsize=(5, 5))

In [ ]:
inventaire.plot.box()

In [ ]:
inventaire["DEGRE"].plot()

In [ ]:
axs = inventaire.plot.area(figsize=(12,4), subplots=True)

In [ ]:
inventaire['prix_moyen'] = (inventaire['PRIX'] * 100 /89)

In [ ]:
inventaire.drop(['prix_moyen'], axis=1)