# Code demo 280/04/2021 Flagship

######

- petit discours d'introduction

In [2]:
# Import des librairies

import os
import pandas as pd
import psycopg2
import csv
import reprlib
import numpy

######

-----------------------

### Création de la Base de données

In [ ]:
"""
Connexion dans un premier temps à postgres
pour initialiser notre database collection
"""



utilisateur = "postgres"

mot_passe = os.environ.get('pg_psw')

base_de_donnees = "postgres"



try:
    
    # création de l'objet conn

    conn = psycopg2.connect(dbname= base_de_donnees, user=utilisateur, password=mot_passe, host="localhost", port= 5432)

    conn.set_session(autocommit=True)   # on force

    # initialisation du cursor

    cursor = conn.cursor()

    # cursor.execute permet d'exécuter une commande 'sql'

    cursor.execute("CREATE DATABASE collection3")

    print("La DataBase à été créée avec succès !")

        
except psycopg2.Error as e:
    
    print("Problème lors de la connection à la base de donnée")

    print(e)

   
    
finally:
        
    # ferme le curseur et devient inutilisable

    cursor.close

    # ferme la connexion à database

    conn.close

######

In [ ]:
# Cellule pour nos fonctions

# Fonction qui va nous permettre de créer une Base de données.
def ouvrir_connection(base_de_donnee, utilisateur, mot_passe, host='localhost', port=5432):
    
    try:
        # création de l'objet conn
        conn = psycopg2.connect(dbname= base_de_donnee, user=utilisateur, password = mot_passe, host="localhost", port= 5432)

        # on force la sauvegarde
        conn.set_session(autocommit=True)   
        
        # initialisation du cursor
        cursor = conn.cursor()
        
        # exécution de la requête sql de création de la base de donnée
        #cursor.execute("CREATE DATABASE IF NOT EXISTS movie")

    # gestion des erreurs    
    except psycopg2.Error as e:
        print("Problème lors de la connection à la base de donnée")
        print(e)
        return None
    # dans tous les cas on va clôturer la session
    finally:
        cursor.close
        conn.close
    return conn
   
    # fonction pour supprimer une table
def supprimer_table(conn, sql_suppression_table):
    try:
        cursor = conn.cursor()
        cursor.execute(sql_suppression_table)
        conn.commit()
    except psycopg2.Error as e:
        print("Erreur lors de la suppression de la table")
        print(e)
        return
    cursor.close()
    print("La table a été supprimée avec succès")

# fonction pour créer une table    
def creer_table(conn, sql_creer_table):
    try:
        cursor = conn.cursor()
        cursor.execute(sql_creer_table)
        conn.commit()
    except psycopg2.Error as e:
        print("Erreur lors de la création de la table")
        print(e)
        return
    cursor.close()
    print("La table a été crée avec succès")
    
def lire_table(conn, sql_lire_donnee):
    try:
        cursor = conn.cursor()
        cursor.execute(sql_lire_donnee)
        conn.commit()
    except psycopg2.Error as e:
        print("Erreur lors de la lecture des données")
        print(e)
        return None
    
    print("Les données ont été lues avec succès")
    data = []
    for row in cursor:
        data.append(row)

    cursor.close()
    
    return data

In [ ]:
# cellule qui content différentes requête sql

sql_creer_table1 = """CREATE TABLE IF NOT EXISTS Origine(
   Code_Origine SERIAL,
   Nom VARCHAR(100),
   PRIMARY KEY(Code_Origine)
);
"""
sql_creer_table2 = """CREATE TABLE IF NOT EXISTS Producteur(
   Code_producteur SERIAL,
   Nom VARCHAR(100),
   Code_Origine INT,
   PRIMARY KEY(Code_producteur),
   FOREIGN KEY(Code_Origine) REFERENCES Origine(Code_Origine)
);
"""
sql_creer_table3 = """CREATE TABLE IF NOT EXISTS Produit(
   Code_produit SERIAL,
   Nom VARCHAR(250),
   Volume INT,
   Degre DECIMAL(15,2),
   Code_producteur INT,
   PRIMARY KEY(Code_produit),
   FOREIGN KEY(Code_producteur) REFERENCES Producteur(Code_producteur)
);
"""

sql_lire_donnee = """
    SELECT *
    FROM Produit
    LIMIT 10;
"""

In [ ]:
# initialisation des variables pour me connecter à ma bdd postgres

base_de_donnee = "collection3"

utilisateur = "postgres"

mot_passe = os.environ.get('pg_psw')

In [ ]:
# initialisation de ma connection
conn = ouvrir_connection(base_de_donnee, utilisateur, mot_passe)

In [ ]:
# création table origine
creer_table(conn, sql_creer_table1)

In [ ]:
# création table origine
creer_table(conn, sql_creer_table2)

In [ ]:
# création table origine
creer_table(conn, sql_creer_table3)